@mixin spacing{
	padding: 1.3em;
}
@mixin fr{
	position: absolute;
	right: 0;

}
@mixin fl{
	position: relative;
	left: 0;
}
@mixin center{
	display: flex;
	justify-content: center;
}
@mixin bg{
	background-size: cover;
	background-position: center;
}
@mixin hover{
	-webkit-transform : scale(1.2);
	transform : scale(1.2);
	transition: 0.7s;
	cursor: pointer;
}
@mixin modul_status{
	text-align: center;
    padding: 1em 0em;
    margin: auto;
}
@mixin progress_title() {
	color: #4caf50;
    font-weight: 600;
    padding: 0.6em;
    font-size: 1.3em;
    font-family: "Quicksand";
}

$bc_blue :#2196f3;
$bc_orange : #FF9800;
$bc_red : #f44336;
$rubik : "Rubik", sans-serif;
$quicksand : "Quicksand", sans-serif;
$url : '../images/';
body{
	margin: 0;
}
a{
	text-decoration: none!important;
	color:unset;
}
.container{
    padding: 1em 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.navbar-container{
	position: fixed;
	top: 0;
	z-index: 2;
	background: #fff;
	box-shadow: 0px -5px 13px #000;
	width: 100%;
}
.navbar-brand-icon{
	width: 135px;
    height: 33px;
}
.navbar-rightmenu{
	display: flex;
	top: -41px;
	@include fr();
}
.menu-item{
	padding: 1em;
    font-family: $rubik;
    font-weight: 400;
    color: #50b2ff;
}
.navbar-rightmenu-container{
	position: relative;
}
.navbar-inner{
	@include spacing();
}
.hero{
	position: relative;
}

.hero-image{
	width: 100%;
}
.hero-container{
    position: relative;
    background-image: url($url + 'bg-home2.png');
    background-size: cover;
    background-attachment: fixed;
}
.hero-caption-container{
    position: relative;
    margin-top: 127px;
    padding:1em;
}
.hero-caption{
	font-family: $rubik;
    font-weight: 300;
    font-size: 1.7em;
    color: #2196f3;
}
.hero-second-caption{
	font-family: $rubik;
	font-weight: 700;
	font-size: 2.3em;
	color:#2196f3;
}
.hero-desc-caption{
    font-family: $rubik;
    font-weight: 200;
    font-size: 1em;
    color: #737373;
    padding: 0.7em 0em;
    line-height: 25px;
}
.hero-caption-button {
    padding: 1em;
    width: 129px;
    background-color: #FF9800;
    color: #fff;
    border-radius: 35px;
    font-weight: 500;
    text-align: center;
    font-family: $rubik;
}
.hero-second-button {
    padding: 0.9em;
    width: 129px;
    background-color: transparent;
    color: #2196f3;
    border-width: 1px;
    border-style: solid;
    border-radius: 35px;
    font-weight: 500;
    text-align: center;
    font-family: $rubik;
}

.login-col{
	position: relative;
	justify-content: center;
}
.login-panel{
	width: 82%;
    margin: auto;
}
.login-left-panel{
	width: 100%;
}
.login-right-panel{
	height: 100vh;
	background-color: #ddf0ff;
}
.login-right-panel img{
	object-fit: cover;
	position: absolute;
}
.login-title{
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	text-align: center;
	color:#7b7b7b;
	padding: 1em;
}
.login-title-container{
	position: relative;
	margin-top: 16px;
}
.login-input-container{
	padding:0em 3.5em 1.5em;
}
.login-icon-container{
	width: 229px;
    height: 194px;
    margin: auto;
}
.li-caption{
	padding: 0.8em 0em;
}
.li-username{
	width: 72%	;
    padding: 0.8em 3.2em 0.8em;
    border-radius: 20px;
    border-width: 0.6px;
    background: #ececec;
    border-style: none;
    outline: none;
    transition: 0.8s;
}
.li-password{
	width: 72%;
    padding: 0.8em 3.2em 0.8em;
    border-radius: 20px;
    border-width: 0.6px;
    background: #ececec;
    border-style: none;
    outline: none;
    transition: 0.8s;
}

.li-password:focus{
	animation: input_login_pulse 1s;
}
.li-username:focus{
	animation: input_login_pulse 1s;
}
.login-submit{
	padding: 0.6em 0.5em 2em;
	
}
.li-submit{
	width: 74%;
    padding: 0.8em 0em;
    border-radius: 7px;
    border-width: 0.6px;
    background: #36ca4f;
    color: #fff;
    border-style: none;
    margin-left: 2.6em;
}
.username-icon-container{
	height: 16px;
    width: 16px;
    left: 57px;
    padding: 10px;
    background: #3680f9;
    color: #ffff;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    z-index: 3;
}
.password-icon-container{
	height: 16px;
    width: 16px;
    left: 57px;
    padding: 10px;
    background: #3680f9;
    color: #ffff;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    z-index: 3;
}
// Register
.register-title{
	font-size: 1.8em;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #7b7b7b;
    padding: 1em;
}
.register-container{
	@include center();
}
.register-panel{
	width: 63%;
    background: #fff;
    padding: 0em 2em 1em 2em;
    box-shadow: 0px 0px 9px #c1b1b1;
    margin-top: 1em;
    border-radius: 6px;
}
.register-input-container{
	width: 100%;
	margin:auto;
	padding: 0.2em 0em;
}
.register-input{
	width: 100%;
    height: 32px;
    /* border-radius: 9px; */
    padding: 0em 0em 0em 0.7em;
    border-width: 0.6px;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #f5d984;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    transition: 1s;
}
.register-input:focus{
	background: #fff2c9;
	outline: none;
}
.register-input-caption{
	padding:0.4em;
	font-weight: 400;
	font-family: $rubik;
	color: #ffc001;
}
.register-icon-container{
	height: 16px;
    width: 16px;
    left: 57px;
    padding: 10px;
    background: #3680f9;
    color: #ffff;
    text-align: center;
    position: absolute;
    border-radius: 20px;
}
//dashboard user

// .dashboardmain{
// 	position: relative;
// 	top:75px;
// }
.dashboard-container{
	background: #2196F3;
	padding:1em;
}
.dashboard-caption-container{
	padding:2.5em;
}
.dashboard-welcome-col{
	height: 35vh;
}
.dashboard-second-caption{
	font-family: $rubik;
	font-weight: 700;
	font-size: 1.5em;
	color:#fff;
}
.dashboard-desc-caption{
    font-family: $rubik;
    font-weight: 200;
    font-size: 1em;
    color: #fff;
    padding: 0.7em 0em;
    line-height: 25px;
}
.dashboard-caption-button {
    padding: 1em;
    width: 170px;
    background-color: #FF9800;
    color: #fff;
    border-radius: 35px;
    font-weight: 500;
    text-align: center;
    font-family: $rubik;
}
.content{
	padding:1em;
	display: flex;
	flex-wrap: wrap;
}
.content-left{
	width: 28%;
	height: 44vh;
	margin-bottom: 1em;
}
.content-right{
	width: 70%;
	padding-left: 1em;
	margin-bottom: 1em;
}
.content-menu-container{
	background: #fff9c2;
    border-radius: 10px;
    padding: 0.4em;
    height: 78%;
}
.content-menu{
	padding: 0.3em 0.8em;
    margin: 0.3em 0em;
    display: flex;
    transition: 1s;
    cursor: pointer;
}
.content-menu:hover{
	background-color: #ffd249;
	animation: pulse 1s;
}
.content-menu-icon{
	padding: 11px 9px 9px 11px;
    height: 18px;
    width: 18px;
    background: #fff389;
    border-radius: 20px;
    color: #ffa21a;
}
.menu-title{
	margin-left: 0.6em;
	font-family: 'Quicksand';
	padding: 0.6em 0em;
}
.report-card{
	box-shadow: 0px 1px 10px #bdb6b6;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
}
.report-card-inner{
	position: relative;
    top: -20px;
    margin-bottom: -32px;
}
.card-caption{
    padding: 0em 1em;
    font-family: "Rubik";
    font-weight: 300;
    text-align: center;
    width: 70%;
    left: 50px;
    position: relative;
    font-size: 1.2em;
}
.card-value{
	text-align: center;
    padding: 0.4em;
    font-size: 1.7em;
    font-family: "Rubik";
    font-weight: 300;
    width: 70%;
    left: 50px;
    position: relative;
}
.card-icon-container{
	position: relative;
    top: 4px;
    left: -16px;
    width: 40px;
    height: 40px;
    background: #fff8bf;
    padding: 1em;
    border-radius: 10px 0px 39px 0px;
}
.sidebar-right{
    width: 48%;
}
.helper-card{
	box-shadow: 0px 1px 10px #bdb6b6;
    background-color: #fffbd7;
    border-radius: 10px;
    position: relative;
    top: -106px;
  	height:66vh ;
}
.helper-card-inner{
	padding: 1em;
	width: 80%;
}
.request-project-button{
	padding: 1em;
    background: #fff389;
    width: 129px;
    border-radius: 28px;
    position: relative;
    color: #576267;
    font-weight: 600;
    font-family: 'Quicksand';
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 #e4d33cc4;
    cursor: pointer;
}
.request-project-button:hover{
	transform: scale(2.5);
    
}
.m-request-project-button{
	padding: 1em;
    background: #fff389;
    width: auto;
    border-radius: 28px;
    position: relative;
    color: #576267;
    font-weight: 600;
    font-family: 'Quicksand';
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 #e4d33cc4;
    cursor: pointer;
}
.m-request-project-button:hover{
	transform: scale(2.5);
    
}
.sidebar-container{
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
}
.sidebar-shape-container{
   	width: 72px;
    border-radius: 2px 2px 0px 60px;
    height: 61px;
    background: #ffffff;
    transition: 1s;
    position: absolute;
    right: 28px;
    top: 7px;
    transform: scale(1);
    transition: 1s;
}
.sidebar-shape-container:hover {
    animation: sidebar-animation-hover 1s;
}

.sidebar-body{
    display: none;
    width: 30%;
    height: 100vh;
    border-radius: 0px;
    background: #fff;
    animation: sidebar-animation 1s;
    position: absolute;
    right: 0px;
    top: 0px;
    box-shadow: 3px 0px 6px 3px #607D8B;
}
.p-ongoing-project-container{
    margin: 1em 0em;
}
.p-ongoing-project{
	height: 160px;
    width: 100%;
	background: #fff;
	box-shadow: 0px 2px 8px #e2e2e2;
	display: flex;
}
.pd-ongoing-project{
    width: 100%;
	background: #fff;
	box-shadow: 0px 2px 22px #e2e2e2;
	display: flex;
}
.p-ongoing-project-inner{
	height: 100%;
    width: 50%;
    position: relative;
}
.p-ongoing-project-inner:before{
	content:'';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000000a8;
}
.p-ongoing-project-inner img{
	object-fit: cover ;
}
.p-ongoing-title-container{
	position: absolute;
	margin:0.8em;
}
.p-ongoing-project-name{
	width: 100%;
    box-sizing: border-box;
    padding: 1em;
    background-color: #2196F3;
    color: #fff;
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 600;
}
.p-ongoing-title{
	color: #fff;
    padding: 0.5em;
    background: #ff5447;
    border-radius: 3px;
    font-weight: 600;
    font-family: 'Quicksand';
}
.p-ongoing-project-left{
	width: 50%;
}
.p-ongoing-project-go{
	position: relative;
    border-radius: 39px;
    border-style: solid;
    border-color: #2196f3;
    border-width: 1.8px;
    color: #2196f3;
    font-family: 'Quicksand';
    top: 22px;
    width: 133px;
    margin: auto;
    text-align: center;
    padding: 0.6em;
    transition: 1s;
    cursor: pointer;
}
.p-ongoing-project-go:hover{
	background-color: #2196f3;
	color: #fff;
}
@keyframes pulse{
	0%{
        transform: scale(1);
        box-shadow: 0 0 0 0 #ffda47;
    }
    70%{
        transform: scale(1);
        box-shadow:0 0 0 15px rgba(0, 0, 0, 0);  
    }
    100%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); 
    }
}
@keyframes sidebar-animation{
    0%{
        width: 72px;
        border-radius: 2px 2px 0px 60px;
        height: 61px;
    }
    100%{
        width: 30%;
        height: 100vh;
        border-radius: 0px;
    }
}
@keyframes sidebar-animation-hover{
    0%{
        transform: scale(1);
        box-shadow: 0 0 0 0 #3ca8ffa3;
    }
    70%{
        transform: scale(1.2);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);  
    }
    100%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); 
    }
}
.sidebar-shape-1{
    width: 45px;
    height: 4px;
    border-radius: 20px;
    background: #2196F3;
    position: absolute;
    top: 14px;
    right: 10px;
}
.sidebar-shape-2{
    width: 32px;
    height: 4px;
    border-radius: 20px;
    background: #2196F3;
    position: absolute;
    top: 26px;
    right: 10px;
}
.sidebar-shape-3{
    width: 22px;
    height: 4px;
    border-radius: 20px;
    background: #2196F3;
    position: absolute;
    top: 39px;
    right: 10px;
}

// Request
.request-content{
	margin-top: 7.8em;
}
.request-submit{
	width: 91px;
    border:none;
    background: #4db751;
    padding: 0.7em;
    border-radius: 3px;
    color: #fff;
    /* float: right; */
    text-align: center;
    margin-right: 1em;
}
.request-submit-back{
	width: 91px;
    height: 17px;
    background: $bc_red;
    padding: 0.7em;
    border-radius: 3px;
    color: #fff;
    /* float: right; */
    text-align: center;
    margin-right: 1em;
}
.request-container{
	width: 80%;
	margin:auto;
}
.request-form{
	background: #fff;
    border-radius: 7px;
    position: relative;
    transition: 1s;
    animation: zoom 1s;
}
.request-form-nobefore{
	background: #fff;
    border-radius: 7px;
    position: relative;
    transition: 1s;
    animation: zoom 1s;
}
.request-form:before{
	content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 12px;
    left: 12px;
    position: absolute;
    background-color: #FFC107;
    z-index: -1;
}
.request-body{
	padding:2em;
	position: relative;
}
.request-input-container{
	width: 70%;
	padding-bottom: 1em;
    margin: auto;
}
.request-submit-container{
	width: 70%;
    margin: auto;
    display: flex;
}
.request-input-title{
	font-weight: 400;
    font-family: 'Rubik';
	padding-bottom: 0.5em;
}
.request-input{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 19px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.request-textarea{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 9px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.request-title{
	font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1.5em;
    color: #717171;
    text-align: center;
    padding: 0.7em 0em;
}
.request-step{
	text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 33px;
    font-size: 1.7em;
    padding: 21px;
    background: #92dcfe;
    color: #fff;
    font-family: 'Quicksand';
    position: absolute;
    top: -42px;
    font-weight: 600;
    z-index: 1;
}
.request-step-2{
	text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 19px;
    /* width: 114px; */
    font-size: 1.1em;
    padding: 21px;
    background: #fff380;
    color: #727272;
    font-family: "Quicksand";
    position: absolute;
    top: -36px;
    left: 88px;
    font-weight: 600;
    z-index: 0;
}
.request-tag-container{
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0em 0em;
}
.request-tag{
	padding: 11px 18px;
    border-radius: 20px;
    background: #74a1c5;
    color: #fff;
    font-weight: 600;
    font-family: "quicksand";
    font-size: 0.78em;
    margin: 4px;
}
.request-tag-input{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 9px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.request-tag i{
	padding: 4px 6px;
    background: #ffc107;
    border-radius: 20px;
    position: relative;
    left: -6px;
    top: -2px;
    float: left;
    margin-bottom: -14px;
    cursor: pointer;
}
.s1{
	display: block;
}
.s2{
	display: none;
}
.request-platform{
	height: 115px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    transition: 0.7s;
}
.request-platform-active{
	height: 115px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    transition: 0.7s;
}
.request-platform img{
	height: 115px;
    width: 100%;
    border-radius: 15px;
    position: relative;
}
.request-platform:before{
	content: '';
	height: 100%;
    width: 100%;
    position: absolute;
    background: #0000009c;
    z-index: 2;
    border-radius: 15px;
}
.request-platform:hover,.request-platform-active:hover{
	-webkit-transform:scale(1.1);
}
.request-platform-active{
	height: 115px;
    width: 100%;
    border-radius: 15px;
    position: relative;
}
.request-platform-active img{
	height: 115px;
    width: 100%;
    border-radius: 15px;
    position: relative;
}
.request-platform-active:before{
	content: '';
	height: 100%;
    width: 100%;
    position: absolute;
    background: #0000009c;
    z-index: 2;
    border-radius: 15px;
	border-style: solid;
    border-color: #8BC34A;
}
.request-thumbnail{
	object-fit: cover;
}
.request-text{
	width: 100%;
	top: 41%;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    font-family: "Quicksand";
    z-index: 3
}
.request-selected-check{
	width: 34px;
    text-align: center;
    padding: 0.6em 0.3em;
    height: 21px;
    background: #8BC34A;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    font-family: "Quicksand";
    z-index: 3;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 1s;
}
// User Project
.mn-platform{
	border-radius: 27px;
    background: #ffc927;
    position: absolute;
    z-index: 2;
    padding: 14px;
    width: 76px;
    text-align: center;
    top: -18px;
    border-radius: 8px 27px 8px 27px;
}
.mn-title-container{
	padding: 1.5em 1.5em;
}
.mn-title{
	font-size: 25px;
	padding: 0.5em 0em 1em;		
    font-family: 'Quicksand';
}
.mn-inner-container{
	margin-top: 2em;
}
.mn-card{
	box-shadow: 0px 0px 3px #a8a8a8;
    border-radius: 15px;
    position: relative;
}
.mn-card-body{
	padding: 1em;

}
.mn-add-button{
	padding: 1em;
    background: #fff389;
    width: 170px;
    border-radius: 28px;
    position: relative;
    color: #576267;
    font-weight: 600;
    font-family: "Quicksand";
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 #e4d33cc4;
    cursor: pointer;
}
.mn-card-title{
    text-align: center;
    position: relative;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Quicksand';
    z-index: 2;
    top: 36%;
    color:#Fff;
    width: 70%;
    margin: auto;
}

.mn-card-header{
	width: 100%;
    height: 29vh;
    background-image: url($url + 'app.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Quicksand';
    position: relative;
    z-index: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.mn-card-header:before{
	content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008a;
    z-index: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.mn-card-desc{
	font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand';
}
.delete-container{
	top: -19px;
    right: 18px;
    z-index: 2;
    position: absolute;

}
.delete-container2{
    top: -19px;
    right: 64px;
    z-index: 2;
    position: absolute;
}
.delete2{
	padding: 0.8em;
    height: 15px;
    width: 15px;
    background: #4caf50;
    font-size: 16px;
    border-radius: 20px;
    color:#fff!important;
}
.delete-icon{
	padding: 0.8em;
    height: 15px;
    width: 15px;
    background: #2196F3;
    font-size: 16px;
    border-radius: 20px;
    color:#fff!important;
}
.manage-button-container{
	border-radius: 20px;
    background: #56ad59;
    top: -19px;
    right: 18px;
    z-index: 2;
    position: absolute;

}
.manage-button-icon{
	padding: 0.8em;
    height: 15px;
    width: 15px;
    background: #3c883f;
    font-size: 16px;
    border-radius: 20px;
    color:#fff!important;
}
.update-container{
	top: -19px;
    right: 66px;
    z-index: 2;
    position: absolute;

}
.update-icon{
	padding: 0.8em;
    height: 15px;
    width: 15px;
    background: #3ab067;
    font-size: 16px;
    border-radius: 20px;
    color:#fff!important;
}
// Detail Project
.project-content{
	margin-top: 7.8em;
}
.project-submit{
	width: 100%;
    border:none;
    background: #4db751;
    padding: 0.7em;
    border-radius: 3px;
    color: #fff;
    /* float: right; */
    text-align: center;
    margin-right: 1em;
}
.project-submit-back{
	width: 91px;
    height: 17px;
    background: $bc_red;
    padding: 0.7em;
    border-radius: 3px;
    color: #fff;
    /* float: right; */
    text-align: center;
    margin-right: 1em;
}
.project-det-container{
	display: flex;
	width: 100%;
}
.project-progress-bar-container{
	padding: 0em 1em;
}
.project-progress-container{
	width: 100%;
}
.project-progress-title{
	@include progress-title();
}
.project-progress-title-done{
	@include progress-title();
	color: #000;
}
.project-progress-title-onprogress{
	@include progress-title();
	color: #fbad3b ;
}
.project-progress-precentage{
	text-align: center;
    padding: 0.5em;
    color: #4caf50;
    font-weight: 700;
    font-family: 'Quicksand';
}
.project-progress-step-container{

}
.project-progress-step{
    padding: 0.5em;
    color: #4caf50;
    font-weight: 500;
    font-family: 'Quicksand';
    display: flex!important;
}
.project-progress-step-icon-success{
	height: 14px;
    width: 14px;
    background: #edecec;
    border-radius: 20px;
    padding: 0.5em;
}
.project-progress-step-title-success{
	padding: 0.4em;
}
.project-progress-step-icon-ongoing{
	height: 14px;
    width: 14px;
    background: #edecec;
    border-radius: 20px;
    padding: 0.5em;
    color: #ff9c0acc;
    animation: progress-icon 1.8s infinite;
}
.project-progress-step-title-ongoing{
	padding: 0.4em;
	color: #ff9c0acc;
}
.project-progress-bar{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color:#dcdcdc;
	padding: 1em;
	border-radius: 20px;
}
.project-progress-bar-pointer{
	content:'';
	position: absolute;
	box-sizing: border-box;
	background: linear-gradient(to right,#4CAF50,#93F9B9,#1D976C);
	background-size: 400%;
	animation: bar 8s linear infinite;
	padding: 1em;
	border-radius: 20px;
	top:0;
	left: 0;
}
.project-container{
	width: 80%;
	margin:auto;
}
.project-form{
	background: #fff;
    border-radius: 7px;
    position: relative;
    transition: 1s;
    animation: zoom 1s;
}
.project-form:before{
	content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 12px;
    left: 12px;
    position: absolute;
    background-color: #FFC107;
    z-index: -1;
}
.project-body{
	padding:2em;
	position: relative;
}
.project-input-container{
	width: 70%;
    margin: auto;
}
.project-input{
	width: 70%;
	padding-bottom: 1em;
    margin: auto;
    display: flex;
    margin:1em 0em;
    box-sizing: border-box;
}
.project-submit-container{
	width: 70%;
    margin: auto;
    display: flex;
}
.project-input-title{
	width: 70%;
	font-weight: 400;
    font-family: 'Rubik';
	padding-bottom: 0.5em;
}
.project-input-desc{
	font-weight: 400;
    font-family: 'Rubik';
	padding-bottom: 0.5em;
}
.project-input{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 19px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.project-textarea{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 9px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.project-title{
	font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1.5em;
    color: #717171;
    text-align: center;
    padding: 0.7em 0em;
}
.project-step{
	text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 33px;
    font-size: 1.7em;
    padding: 21px;
    background: #35c0ff;
    color: #fff;
    font-family: 'Quicksand';
    position: absolute;
    top: -42px;
    font-weight: 600;
    z-index: 1;
}
.project-step-2{
	text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 19px;
    /* width: 114px; */
    font-size: 1.1em;
    padding: 21px;
    background: #80c7ff;
    color: #fff;
    font-family: "Quicksand";
    position: absolute;
    top: -36px;
    left: 88px;
    font-weight: 600;
    z-index: 0;
}
.project-tag-container{
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0em 0em;
}
.project-tag{
	padding: 11px 18px;
    border-radius: 20px;
    background: #74a1c5;
    color: #fff;
    font-weight: 600;
    font-family: "quicksand";
    font-size: 0.78em;
    margin: 4px;
}
.project-tag-input{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 9px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.project-tag i{
	padding: 4px 6px;
    background: #ffc107;
    border-radius: 20px;
    position: relative;
    left: -6px;
    top: -2px;
    float: left;
    margin-bottom: -14px;
}
// Manage Project 
.mg-project-content{
	margin-top: 7.8em;
}
.mg-project-content-2{
	margin-top: -3.2em;
}
.mg-project-submit{
	width: 100%;
    border:none;
    background: #4db751;
    padding: 0.7em;
    border-radius: 3px;
    color: #fff;
    /* float: right; */
    text-align: center;
    margin-right: 1em;
}
.mg-project-submit-back{
	width: 91px;
    height: 17px;
    background: $bc_red;
    padding: 0.7em;
    border-radius: 3px;
    color: #fff;
    /* float: right; */
    text-align: center;
    margin-right: 1em;
}
.mg-project-det-container{
	display: flex;
	width: 100%;
}
.mg-project-progress-bar-container{
	padding: 0em 1em;
}
.mg-project-progress-container{
	width: 100%;
}
.mg-project-progress-title{
	color: #4caf50;
    font-weight: 600;
    padding: 0.6em;
    font-size: 1.3em;
    font-family: "Quicksand";
}
.mg-project-progress-precentage{
	text-align: center;
    padding: 0.5em;
    color: #4caf50;
    font-weight: 700;
    font-family: 'Quicksand';
}
.mg-project-progress-step-container{

}
.mg-project-progress-step{
    padding: 0.5em;
    color: #4caf50;
    font-weight: 500;
    font-family: 'Quicksand';
    display: flex!important;
}
.mg-project-progress-step-icon-success{
	height: 14px;
    width: 14px;
    background: #edecec;
    border-radius: 20px;
    padding: 0.5em;
}
.mg-project-progress-step-title-success{
	padding: 0.4em;
}
.mg-project-progress-step-icon-ongoing{
	height: 14px;
    width: 14px;
    background: #edecec;
    border-radius: 20px;
    padding: 0.5em;
    color: #ff9c0acc;
    animation: progress-icon 1.8s infinite;
}
.mg-project-progress-step-icon-ongoing-brand{
	height: 22px;
    width: 22px;
    background: #edecec;
    border-radius: 20px;
    padding: 0.5em;
    color: #ff9c0acc;
}
.mg-project-progress-step-title-ongoing{
	padding: 0.4em;
	color: #ff9c0acc;
}
.mg-project-progress-bar{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color:#dcdcdc;
	padding: 1em;
	border-radius: 20px;
}
.mg-project-progress-bar-pointer{
	content:'';
	position: absolute;
	box-sizing: border-box;
	background: linear-gradient(to right,#4CAF50,#93F9B9,#1D976C);
	background-size: 400%;
	animation: bar 8s linear infinite;
	padding: 1em;
	border-radius: 20px;
	top:0;
	left: 0;
}
.md-project-progress-bar{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color:#dcdcdc;
	padding: 1em;
	border-radius: 20px;
}
.md-project-progress-bar-pointer{
	content:'';
	position: absolute;
	box-sizing: border-box;
	background: linear-gradient(to right,#4CAF50,#93F9B9,#1D976C);
	background-size: 400%;
	animation: bar 8s linear infinite;
	padding: 1em;
	border-radius: 20px;
	top:0;
	left: 0;
}
.mg-project-container-2{
	width: 100%;
}
.mg-project-container{
	width: 80%;
	margin:auto;
}
.mg-project-form-1{
	background: #fff;
    border-radius: 7px;
    position: relative;
    transition: 1s;
    animation: zoom 1s;
}
.mg-project-form{
    border-radius: 7px;
    position: relative;
    transition: 1s;
    animation: zoom 1s;
}
.mg-subpanel{
	display: flex;
	flex-wrap: wrap;
}
.mg-project-form-1:before{
	content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 12px;
    left: 12px;
    position: absolute;
    background-color: #FFC107;
    z-index: -1;
}
.mg-project-contributor-container{
	display: flex;
    flex-wrap: wrap;
}
.mg-project-button-add-container{
	padding: 0.7em;
    background: #74d078;
    color: #fff;
    width: 200px;
    border-radius: 28px;
    position: relative;
    /* color: #576267; */
    font-weight: 600;
    font-family: "Quicksand";
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 #e4d33cc4;
    cursor: pointer;
}
.md-project-button-add-container{
	padding: 0.7em;
    background: #74d078;
    color: #fff;
    width: 172px;
    border-radius: 28px;
    position: relative;
    /* color: #576267; */
    font-weight: 600;
    font-family: "Quicksand";
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 #e4d33cc4;
    cursor: pointer;
}
.mg-project-button-edit-container{
	width: 30px;
	height: 30px;
}
.table-project-contributor th{
	width: 43%;
    padding: 18px;
}
.table-project-contributor td{;
	padding: 10px;
}
table{
	box-shadow: 0px 1px 4px;
}
th{
	background-color: #74d078;
	color: #fff!important;
}
table, th{
	border-collapse: collapse;
    padding: 0 0.5em;
    text-align: justify;
    color:#6b6464;
    table-layout: fixed;
}
.mg-project-body-1{
	position: relative;
	padding: 2em
}
.mg-project-body-2{
	position: relative;
	margin: 1.3em 1em;
}
.mg-project-inner{
	background-color: #fff;
	padding: 2em;
	border-radius: 12px;
}
.mg-project-assigned-team{
	background-color: #fff;
	padding: 2em;
	height: 75vh;
	overflow-y: scroll;
    border-radius: 12px;
    box-shadow: 0px 1px 6px #cdcdcd;
}
.mg-project-input-container{
	width: 70%;
    margin: auto;
}
.mg-project-input{
	width: 70%;
	padding-bottom: 1em;
    margin: auto;
    display: flex;
    margin:1em 0em;
    box-sizing: border-box;
}
.project-developer-display-container{
	background-color: #fff;
	padding: 1em;
	height: 85%;
}
.project-contributor-avatar{
	width: 54px;
    height: 54px;
    margin-right: 10px;
    border-radius: 30px;
    box-shadow: 0px 2px 9px;
}
.project-contributor-avatar img{
	object-fit: cover;
	border-radius: 50%;
}
.project-contributor-action{
	height: 15px;
    padding: 0.7em;
    width: 15px;
    background: #F44336;
    border-radius: 20px;
    color: #fff;
    transition: 0.7s;
}
.project-contributor-action:hover{
	@include hover();
}
.project-contributor-total{
	padding: 1em;
    background: #4CAF50;
    color: #ffff;
    box-shadow: 0px 1px 4px;
}
.mg-project-submit-container{
	width: 70%;
    margin: auto;
    display: flex;
}
.mg-modul-status-done{
	@include modul_status();
    background: #4caf50;
    color:#fff;
    font-weight: 600;
    font-family: 'Quicksand';
}
.mg-modul-status-delay{
	@include modul_status();
    background: #f7ad42;
    color:#fff;
    font-weight: 600;
    font-family: 'Quicksand';
}
.mg-modul-status-onprogress{
	@include modul_status();
    background: #f7ad42;
    color:#fff;
    font-weight: 600;
    font-family: 'Quicksand';
}
.mc-modul-status-done{
	@include modul_status();
    background: #4caf50;
    color:#fff!important;
    font-weight: 600;
    font-family: 'Quicksand';
    width: 100%;
    text-align-last:center;
    border-style: none!important;
    border-color: transparent!important;
    border-width: none!important;
    border-image: none!important;
}
.mc-modul-status-delay{
	@include modul_status();
    background: #f7ad42;
    color:#fff!important;
    font-weight: 600;
    font-family: 'Quicksand';
    width: 100%;
    text-align-last:center;
    border-style: none!important;
    border-color: transparent!important;
    border-width: none!important;
    border-image: none!important;
}
.mc-modul-status-onprogress{
	@include modul_status();
    background: #f7ad42;
    color:#fff!important;
    font-weight: 600;
    font-family: 'Quicksand';
    width: 100%;
    text-align-last:center;
    border-style: none!important;
    border-color: transparent!important;
    border-width: none!important;
    border-image: none!important;
}
.mc-modul-status-cancelled{
	@include modul_status();
    background: #f44336;
    color:#fff!important;
    font-weight: 600;
    font-family: 'Quicksand';
    width: 100%;
    text-align-last:center;
    border-style: none!important;
    border-color: transparent!important;
    border-width: none!important;
    border-image: none!important;
}
.mg-modul-status-cancelled{
	@include modul_status();
    background: #f44336;
    color:#fff;
    font-weight: 600;
    font-family: 'Quicksand';
}
.mg-project-input-title{
	width: 70%;
	font-weight: 400;
    font-family: 'Rubik';
	padding-bottom: 0.5em;
}
.mg-project-input-desc{
	font-weight: 400;
    font-family: 'Rubik';
	padding-bottom: 0.5em;
}
.mg-project-input{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 19px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.mg-project-textarea{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 9px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.mg-project-title{
	font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1.5em;
    color: #717171;
    text-align: center;
    padding: 0.7em 0em;
}
.mg-project-step{
	text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 33px;
    font-size: 1.7em;
    padding: 21px;
    background: #35c0ff;
    color: #fff;
    font-family: 'Quicksand';
    position: absolute;
    top: -42px;
    font-weight: 600;
    z-index: 1;
}
.mg-project-step-2{
	text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 19px;
    /* width: 114px; */
    font-size: 1.1em;
    padding: 21px;
    background: #80c7ff;
    color: #fff;
    font-family: "Quicksand";
    position: absolute;
    top: -36px;
    left: 88px;
    font-weight: 600;
    z-index: 0;
}
.mg-project-tag-container{
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0em 0em;
}
.mg-project-tag{
	padding: 11px 18px;
    border-radius: 20px;
    background: #74a1c5;
    color: #fff;
    font-weight: 600;
    font-family: "quicksand";
    font-size: 0.78em;
    margin: 4px;
}
.mg-project-tag-input{
	width: 100%;
    padding: 0.9em 1em;
    border-radius: 9px;
    border-width: 1.5px;
    border-style: none;
    outline: none;
    background: #fff0c3;
}
.mg-project-tag i{
	padding: 4px 6px;
    background: #ffc107;
    border-radius: 20px;
    position: relative;
    left: -6px;
    top: -2px;
    float: left;
    margin-bottom: -14px;
}
//custom select
.wrapper {
  margin: 1em auto;
  text-align: left;
}
.sample {
  border: 1px solid #eeeeee;
  background: #ffffff;
  max-width: 30em;
  padding: 1em;
  margin-bottom: 1em;
}
.custom-select {
  position: relative;
}
.select-css {
  display: block;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.25em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
  z-index: 10;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  	border: 2px blue;
  	color: #222;
  	outline: none;
	border-style: solid;
	border-color: #9E9E9E;
}
.custom-select-icons {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 20;
  border: 1px solid white;
  background: transparent;
}
.custom-select-options {
  border: 1px solid #aaa;
  border-radius: 0 0 0.25em 0.25em;
  line-height: 1.5;
  margin: 0;
  margin-top: -0.5em;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  width: calc(100% - 1px);
  background-color: #ffffff;
}
.custom-select-options li {
  padding: 1em;
  transition: 1s;
}
.custom-select-options li:hover {
  background: #fffcdd;
  border: 1px solid #ecad50;
  border-width: 0 0 0 1px;
  animation: slide-left 0.9s;
  transition: 1s;
}
.cs-avatar{
	height: 55px;
	width: 55px;
	border-radius: 50%;
	box-shadow: 0px 0px 9px #8d8d8d;
}
.cs-avatar img{
	height: 55px;
	width: 55px;
	border-radius: 50%;
}
.cs-caption{
	padding: 1em;
}
.custom-select-options li:focus {
  border: 1px solid blue;
}
.icon {
  fill: ButtonText;
  pointer-events: none;
}
.crud-icon-edit{
    padding: 10px;
    border-radius: 50%;
	background-color: #ffc107;
    color: #fff;
	box-sizing: border-box;
	transition: 1s;
}
.crud-icon-delete{
    padding: 10px;
    border-radius: 50%;
	background-color: #F44336;
    color: #fff;
	box-sizing: border-box;
	transition: 1s;
}
.crud-icon-edit:hover{
    background-color: transparent;
    color: #ffc107 ;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffc107;
}
.crud-icon-delete:hover{
    background-color: transparent;
    color: #F44336;
    border-style: solid;
    border-width: 1.5px;
    border-color: #F44336;
}
.crud-icon-container{
	margin-right: 0.8em;
}
.mark-buttons{
	padding: 0.6em;
    text-align: center;
    background-color: #74d078;
    color: #fff;
    font-weight: bold;
    font-family: 'Quicksand';
}

@keyframes slide-left{
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(12px);
	}
}
@media screen and (-ms-high-contrast: active) {
  .icon {
    fill: ButtonText;
  }
}
.hidden-all {
  display: none;
}
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
// Layout And Position
.flex{
	display: flex;
}
.flex-item{
	padding: 0 5px;
}
.main{
	position: relative;
	top:75px;
}
.pure-grid{
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(12,1fr);
	grid-gap: 20px;
	justify-content: center;
}
.no-gap {
	grid-gap: 0px;
}
.p-1{
	padding:1em;
}
.act{
	padding: 0em 4em;	
}
.act-go{
	padding: 0.18em 0.3em;
    background: #5589ff;
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-family: $quicksand;
}
.ri-submit{
	width: 40%;
    padding: 0.8em 0em;
    border-radius: 20px;
    border-width: 0.6px;
    background: #36ca4f;
    color:#fff;
    border-style: none;	
}
.register-submit{
	@include center();
    padding: 1em 0em;
}
@keyframes progress-icon{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes bar{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}

}
@keyframes zoom{
    0%{
        width: 30%;
        height: 30vh;
    }
    100%{
         width: 100%;
         height: 100%;
    }
}
@keyframes input_login_pulse{
    0%{
        box-shadow: 0 0 0 0 #3ca8ffa3;
    }
    70%{
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);  
    }
    100%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); 
    }
}
.col-1{
	grid-column: span 1;
}
.col-2{
	grid-column: span 2;
}
.col-3{
	grid-column: span 3;
}
.col-4{
	grid-column: span 4;
}
.col-5{
	grid-column: span 5;
}
.col-6{
	grid-column: span 6;
}
.col-7{
	grid-column: span 7;
}
.col-8{
	grid-column: span 8;
}
.col-9{
	grid-column: span 9;
}
.col-10{
	grid-column: span 10;
}
.col-11{
	grid-column: span 11;
}
.col-12{
	grid-column: span 12;
}
.tc{
	text-transform: capitalize;
}
@media only screen and (max-width: 767px){
	.content-left{
		width: 100%;
		height: 44vh;
		margin-bottom: 2.5em;
	}
	.content-right {
	    width: 100%;
	}
	.col-1{
		grid-column: span 12;
	}
	.col-2{
		grid-column: span 12;
	}
	.col-3{
		grid-column: span 12;
	}
	.col-4{
		grid-column: span 12;
	}
	.col-5{
		grid-column: span 12;
	}
	.col-6{
		grid-column: span 12;
	}
	.col-7{
		grid-column: span 12;
	}
	.col-8{
		grid-column: span 12;
	}
	.col-9{
		grid-column: span 12;
	}
	.col-10{
		grid-column: span  12;
	}
	.col-11{
		grid-column: span  12;
	}
	.col-12{
		grid-column: span  12;
	}
	.login-right-panel{
		display: none;
	}
}